# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtuális környezet
.venv/
venv/
env/

# Futás közben generált fájlok
data/*.json
data/*.csv
data/*.log
*.log

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
